.Rrace {
  color: #8d5524;
}

.arace {
  color: #c68642;
}

.crace {
  color: #e0ac69;
}

.erace {
  color: #f1c27d;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

label {
  position: relative;
}

#svganim {
  position: absolute;
  width: 960px;
}

#teachersvg {
      position: relative;
      width: 100%;
      color: black;
}

.buttontch {
  position:relative;
  bottom:0;
  left:0;
}

.viewcontainer {
    height: 200px;
    width: 500px;
    border:2px solid #000;
    overflow: scroll;
    position: absolute;
    right: 600px;
}

.summary {
  overflow-y: scroll;
  height: 500px;
}

.simdiff {
  position: relative;
  overflow-y: scroll;
  background: #e6e1f9;
}

#imagelink {
  width: 75%;
}




