.Rrace {
  color: #8d5524;
}

.arace {
  color: #c68642;
}

.crace {
  color: #e0ac69;
}

.erace {
  color: #f1c27d;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

label {
  position: relative;
}

#svganim {
  position: absolute;
  width: 960px;
}
